name: Waka Readme

on:
  push:
    branches:
      - main
  schedule:
    # Runs at 12am UTC
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

          # Content configuration
          SHOW_OS: 'False'
          SHOW_EDITORS: 'False'
          SHOW_PROJECTS: 'False'
          SHOW_PROFILE_VIEWS: 'False'
          SHOW_LOC_CHART: 'False'
          SHOW_TIMEZONE: 'False'
          SHOW_SHORT_INFO: 'False'

          # Requested sections
          SHOW_COMMIT: 'True' # For Early/Owl
          SHOW_DAYS_OF_WEEK: 'True' # For Most Productive Day
          SHOW_LANGUAGE: 'True' # For Languages (Time & %)

          # Styling
          SYMBOL_VERSION: '1'
